<footer class="footer-area bg-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3>درباره ما</h3>
        <p>رستوران منوما</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>ساعت كاري </h3>
        <p><span class="text-color">شنبه تا چهارشنبه از ساعت 7 تا 23  </p>
        <p><span class="text-color">پنجشنبه و جمعه از ساعت 8 تا 23 </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3> اطلاعات تماس</h3>
        <p class="lead">مهرشهر، بلوار شهردارري، چهارراه مسيح پاكدل، رستوران منوما </p>
        <p class="lead"><a href="#"> شماره تماس :   02633355570  </a></p>
        <p><a href="#"> manoma@gmail.com    : ايميل</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>اشتراك گذاري</h3>
        <div class="subscribe_form">
          <form class="subscribe_form">
            <input name="EMAIL" id="subs-email" class="form_input" placeholder="... آدرس ايميل" type="email">
            <button type="submit" class="submit">اشتراك گذاري</button>
            <div class="clearfix"></div>
          </form>
        </div>
        <ul class="list-inline f-social">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="company-name"> تمامي حقوق اين سايت براي رستوران منوما محفوظ است</p>
        </div>
      </div>
    </div>
  </div>

</footer>
